<!DOCTYPE html>

<html>
    <head>
        <title>TachShop</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <header th:fragment="header" class="header">
            <nav class="nav">
                <a th:href="@{/}" class="logo nav-link">TechShop</a>
                <ul class="nav-menu">
                    <li class="nav-menu-item">
                        <a th:href="@{/cliente/listado}" class="nav-menu-link nav-link">Clientes</a>
                    </li>
                    <li class="nav-menu-item">
                        <a th:href="@{/categoria/listado}" class="nav-menu-link nav-link">Categorias</a>
                    </li>
                    <li class="nav-menu-item">
                        <a th:href="@{/articulo/listado}" class="nav-menu-link nav-link">Articulos</a>
                    </li>
                </ul>
            </nav>
        </header>
        
        <footer th:fragment="footer" class="footer">
            <p><u>&COPY;Nos reservamos los derechos 2023</u></p>
        </footer>
    </body>
</html>
